@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	overflow: hidden;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

body {
	background: #0f1221;
}

.blue-gradient {
	position: absolute;
	margin-top: -150px;
	margin-left: -200px;
	opacity: 1;
	filter: blur(189.12px);
	border-radius: 50vw;
	width: 70vw;
	height: 70vw;
	background: rgb(38, 197, 241);
	background: radial-gradient(circle, rgb(72, 215, 255) 35%, rgb(7, 119, 130) 100%);
}
.orange-gradient {
	position: absolute;
	margin-top: 400px;
	margin-left: 400px;
	opacity: 1;
	filter: blur(189.12px);
	border-radius: 50vw;
	width: 70vw;
	height: 70vw;
	background: rgb(255, 201, 115);
	background: radial-gradient(circle, rgb(255, 201, 115) 35%, rgb(255, 176, 49) 100%);
}

.pink-gradient {
	position: absolute;
	margin-top: 900px;
	margin-left: -500px;
	opacity: 1;
	filter: blur(189.12px);
	border-radius: 50vw;
	width: 70vw;
	height: 70vw;
	background: rgb(255, 112, 250);
	background: radial-gradient(circle, rgb(255, 112, 250) 35%, rgb(255, 34, 248) 100%);
}
